/* seletor niversal-todos vão ter essa formatação*/
*{
    margin: 0;/* sem margem*/
    padding: 0;/* sem espaçamento interno*/

}

header{ 
    background-color: #B79F91
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; 

}

